#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// layers
#define DEFAULT 0

/ {
    behaviors {
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp ESC        &kp ESC  &kp ESC     &kp ESC     &kp ESC                                                                                        &kp ESC &kp ESC     &kp ESC     &kp ESC     &kp ESC
            &kp GRAVE      &kp N1   &kp N2      &kp N3      &kp N4      &kp N5                                                                     &kp N6  &kp N7  &kp N8      &kp N9      &kp N0      &kp MINUS
            &kp TAB        &kp Q    &kp W       &kp E       &kp R       &kp T                                                                      &kp Y   &kp U   &kp I       &kp O       &kp P       &kp LBKT
            &kp ESC        &kp A    &kp S       &kp D       &kp F       &kp G                                                                      &kp H   &kp J   &kp K       &kp L       &kp SEMI    &kp SQT
            &kp ESC        &kp Z    &kp X       &kp C       &kp V       &kp B   &kp F13     &kp F15     &kp F17    &kp F22   &kp F20   &kp F18     &kp N   &kp M   &kp COMMA   &kp DOT     &kp FSLH    &kp RET
            &kp ESC        &kp ESC  &kp BSPC    &kp RET     &kp DEL             &kp LSHFT   &kp F14     &kp F16    &kp F21   &kp F19   &kp SPACE           &kp N   &kp ESC     &kp RBKT    &kp BSLH    &kp ESC
            >;
        };
    };
};
